@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

header
{
    height:11vh;
    width: 100%;
}
header .container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
  }
  .logo,
.location,
.search-bar,
.login,
.cart {
  margin: 0 13px;
}

.loaction-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 3px;
  }
  .location-desc {
    font-size: 15px;
  }
  .search-bar input {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
  }
  .search-bar {
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    width: 52%;
    height: 42px;
    padding: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .search-bar > i {
    color: black;
  }
  
  .login > button {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    border-style: none;
    background-color: transparent;
  }
  
  .cart button {
    padding: 12px;
    background-color: rgb(12, 131, 31);
    border-radius: 8px;
    color: white;
    border-style: none;
  }

  
.main-container, footer
{
   
    width: 85vw;
    margin: auto;
}
.hero img {
    width: 100%;
  }



  .banner {
    display: flex;
    gap: 20px;
    overflow: auto;
    margin: 0 10px;
  }
  .banner img {
    
    height: 195px;
    width: 335px;
  }


  .categories
  {
    display: flex;
    
    
    flex-wrap: wrap;
    margin: 14px -6px;
  }
  .categories img
  {
    width: 10%;
    height: 10%;
  }


  /*product lists */
  .title
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }
  .categare-name {
    color: rgb(28, 28, 28);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
  .title > a {
    line-height: 32px;
    font-size: 20px;
    color: rgb(12, 131, 31);
  }

  .card-list
  {
    display: flex;
    overflow: auto;
    column-gap: 10px;
  }

  .card-img > img {
    width: 140px;
    height: 140px;
  }

  .card{
    padding: 15px;
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
  }

  .timer {
    background-color: rgb(248, 248, 248);
    font-size: 12px;
    
  }
  
  .timer > i {
    margin: 3px;
  }
  .card-name {
    font-weight: 600;
    font-size: 13px;
    height: 48px;
  }

  .card-detail {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .card-weight {
  font-size: 13px;
  color: grey;
}
.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
  }
  .card-price > button {
    color: green;
    border: 1px solid green;
    border-radius: 7px;
    font-weight: 600;
    font-size: 13px;
    padding: 4px 17px;
    background-color: rgb(228, 245, 228);
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  
  .footer-r1
  {
    display: flex;
  
    margin: 20px 10px;
  }

  .table-1
  {
    flex: 2;
  }
  .table-2
  {
    flex: 3;
  }

  table {
    width: 100%;
    margin-top: 20px;
  }
  td {
    font-size: 14px;
    color: #6b6b6b;
    padding-bottom: 10px;
  }
  .see {
    color: rgb(118, 202, 118);
    margin-left: 10px;
  }
  .footer-r2 {
    display: flex;
    align-items: center;
    margin: 0px -7px;
    width: 100%;
    gap: 10px;
    color: #6b6b6b;
    background-color: rgb(252, 252, 252);
    margin-bottom: 20px;
  }

  .col1
  {
    width: 40%;
  }
  .nav-link
  {
    margin-left: 15px;
    width: 30%;
  }
  .social-app
  {
    width: 30%;
  }
  .nav-link,
.social-app {
  display: flex;
  align-items: center;
  gap: 10px;
 
}
.nav-link> h5
{
  font-weight: 600;
    font-size: 14px;
    
   
}
.nav-link > img {
  width: 90px;
  height: 31px;
}
.icon {
  width: 40px;
  height: 40px;
  background-color: black;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.footer-r3
{
  color: #6b6b6b;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .hero {
    display: none;
  }
  .footer-r2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-r1 {
    display: flex;
    flex-direction: column;
  }
  .table-1 {
    margin-bottom: 20px;
  }
  .categories img {
    width: 114px;
    height: 150px;
  }

  .banner {
    margin-top: 248px;
  }
  .banner img {
    height: 191px;
    width: 312px;
  }
  header .container {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none !important;
    margin-top: 20px;
    
    
  }
  .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo,
  .location,
  .search-bar,
  .login,
  .cart {
    margin: 10px;
  }
  .col1
  {
    width: 100%;
  }
  .nav-link
  {
    margin-left: 15px;
    width: 100%;
  }
  .social-app
  {
    width: 100%;
  }

}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .hero {
    display: none;
  }
  .footer-r2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer-r1 {
    display: flex;
    flex-direction: column;
  }
  .table-1 {
    margin-bottom: 20px;
  }
  .categories img {
    width: 114px;
    height: 150px;
  }

  .banner {
    margin-top: 90px;
  }
  .banner img {
    height: 191px;
    width: 312px;
  }
  
    
    
  
  .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo,
  .location,
  .search-bar,
  .login,
  .cart {
    margin: 10px;
  }
  .col1
  {
    width: 100%;
  }
  .nav-link
  {
    margin-left: 15px;
    width: 50%;
  }
  .social-app
  {
    width: 40%;
  }

}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .hero {
    display: none;
  }
  .footer-r2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-r1 {
    display: flex;
    flex-direction: column;
  }
  .table-1 {
    margin-bottom: 20px;
  }
  .categories img {
    width: 114px;
    height: 150px;
  }

  .banner {
    margin-top: 248px;
  }
  .banner img {
    height: 191px;
    width: 312px;
  }
  header .container {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    margin-top: 20px;
    
    
  }
  .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo,
  .location,
  .search-bar,
  .login,
  .cart {
    margin: 10px;
  }
  .col1
  {
    width: 100%;
  }
  .nav-link
  {
    margin-left: 15px;
    width: 100%;
  }
  .social-app
  {
    width: 100%;
  }

}